body {
    font-family: 'Times New Roman';
    font-size: large;
    max-width: 700px;
    margin-left: 100px;

    
}


.header {
    margin-left: 200px
}

h1 {
    margin-left: 10px;

}

.strong {
    font-size: larger;
    font-weight: bolder;
    color: orangered;
}

.list {
    color: #ff4400;
}

.border {
    background-color: rgba(173, 216, 230, 0.266);
    border: 2px solid orangered;
    padding: 6px;
    margin-bottom: 6px;
    display: inline-block;
}

.img {
    float: right;
    margin: 0px 0px 15px 20px;
    border: 1px solid skyblue;
}

.btn {
    color: black;
    padding: 0.3rem;
    background-color: rgba(39, 192, 243, 0.841);
    border: 0.5px solid skyblue;
  }
  
